// ---------------------------------------------------------------------------------------------------------------------
//	@MIXIN: UNDERLINE
// ---------------------------------------------------------------------------------------------------------------------
//	EN:	Underlines text with adjustable distance, thickness and colors (default/hover/active)
//	RU:	Подчеркивает текст с настраиваемым отступом, толщиной и цветами (стандартным, наведении, нажатии)
// ---------------------------------------------------------------------------------------------------------------------

@mixin Underline($Colors: (), $Text:  0px transparent, $Shadow: transparent)
{
	$Color-Count: length($Colors);

	@if ($Color-Count >= 1)
	{
		@include Underline-BG(nth($Colors,1));

		@if ($Color-Count >= 2)
		{
			&:hover
			{
				@include Underline-BG(nth($Colors,2));
			}

			@if ($Color-Count == 3)
			{
				&:active
				{
					@include Underline-BG(nth($Colors,3));
				}
			}
		}
	}
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-size: .05em 1px,.05em 1px,nth($Text,1) nth($Text,1);
	background-position: 0 0,0 0,0 nth($Text,2);
	text-decoration: none;
	text-shadow: 2px 0 1px $Shadow,-2px 0 1px $Shadow,0 2px 1px $Shadow,0 -2px 1px $Shadow;
}

@mixin Underline-BG($Color)
{
	background-image: linear-gradient(transparent,transparent),linear-gradient(transparent,transparent),linear-gradient($Color,$Color);
}

// ---------------------------------------------------------------------------------------------------------------------



// ---------------------------------------------------------------------------------------------------------------------
//	@MIXIN: INCLUDE-FONT
// ---------------------------------------------------------------------------------------------------------------------
//	EN:	Imports font via @font-face directive
//	RU:	Загружает шрифт средством директивы @font-face
// ---------------------------------------------------------------------------------------------------------------------

@mixin Import-Font($Font-Name, $Font-Weight: null, $Font-Style: null, $Types: eot woff2 woff ttf svg)
{
	$Font-Style-Shorthand: 'n';

	@if ($Font-Style == 'italic')
	{
		$Font-Style-Shorthand: 'i';
	}

	$File-Path: $Folder-Fonts + $Font-Name + "-" + $Font-Weight + $Font-Style-Shorthand;
	$src: null;

	$extmods: (
					  eot: "?",
					  svg: "#" + str-replace($Font-Name, " ", "_")
			  );

	$formats: (
					  otf: "opentype",
					  ttf: "truetype"
			  );

	@each $ext in $Types
	{
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($File-Path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face
	{
		font-family: quote($Font-Name);
		font-style: $Font-Style;
		font-weight: $Font-Weight;
		src: $src;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
