%Clearfix:before,
%Clearfix:after
{
	display: table;

	content: ' ';
}

%Clearfix:after
{
	clear: both;
}

%Hidden-DS
{
	display: none;
	@include Adaptive('>DS')
	{
		display: block;
	}
}

%Hidden-DS-Inline
{
	display: none;
	@include Adaptive('>DS')
	{
		display: inline-block;
	}
}

%Transition-Std
{
	transition: all .2s;
}
