// ---------------------------------------------------------------------------------------------------------------------
// СОДЕРЖАНИЕ
// ---------------------------------------------------------------------------------------------------------------------
// %Heading-H2
// Заголовок секции
//
// %Header-std
// Шапка секции
//
// %Section-Block
// Секция
//
// %Column-*
// центрируемые блоки разных ширин
//
// ---------------------------------------------------------------------------------------------------------------------

%Heading-H2
{
    font:       300 48rem/58rem 'Roboto Slab', serif;
    color:      #383838;
    text-align: center;
}

// ---------------------------------------------------------------------------------------------------------------------

%Header-Std
{
    overflow:      hidden;
    position:      relative;
    margin-top:    20rem;
    padding-top:   30rem;
    text-align:    center;
    margin-bottom: 40rem;

    &:before
    {
        content:     url('/img/triangle.svg');
        position:    absolute;
        display:     block;

        top:         10rem;
        left:        50%;
        margin-left: -12rem;
        width:       23rem;
        height:      11rem;
    }

    > *
    {
        @extend %Heading-H2;
        display:   inline-block;
        position:  relative;
        max-width: 1100rem;

        padding:   0 20rem;

        &:before,
        &:after
        {
            content:          '';
            position:         absolute;
            top:              50%;
            width:            2000px;
            width:            100vw;
            height:           1rem;
            background-color: $Primary-L;
        }

        &:before
        {
            right: 100%;
        }

        &:after
        {
            left: 100%;
        }
    }

}

// ---------------------------------------------------------------------------------------------------------------------

%Section-Block
{
    @extend %Clearfix;
    text-align:     center;
    padding-bottom: 50rem;
}

// ---------------------------------------------------------------------------------------------------------------------
%Column-Base
{
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    text-align:   left;
}

%Column-Narrow
{
    @extend %Column-Base;
    max-width: 650rem;
}

%Column
{
    @extend %Column-Base;
    max-width: 800rem;
}

%Column-Wide
{
    @extend %Column-Base;
    max-width: 1200rem;
}

// ---------------------------------------------------------------------------------------------------------------------

%Circle
{
    display:       block;
    border-radius: 50%;
}

// ---------------------------------------------------------------------------------------------------------------------

%Text-Regular-Red
{
    font:  small-caps 300 26rem/32rem Roboto, sans-serif;
    color: $Primary;
}

%Text-Bold-Red
{
    font:  400 24rem/32rem 'Roboto Slab', serif;
    color: $Primary;

    strong
    {
        font-weight: 700;
    }
}

// ---------------------------------------------------------------------------------------------------------------------

%Two-Columns
{
    font-size: 0;

    .Left, .Right
    {
        vertical-align: top;
        display:        inline-block;
        width:          50%;
    }
}

%Slider
{
    position: relative;

    .Slider-Arrow
    {
        display:    block;
        position:   absolute;
        top:        50%;
        box-sizing: border-box;
        stroke:     $Primary;
        cursor:     pointer;

        &.Prev
        {
            left:      -10rem;
            transform: rotate(0deg);

        }

        &.Next
        {
            right:     -10rem;
            transform: rotate(180deg);
        }

        &:hover svg
        {
            stroke: $Grey;
        }
    }
}

%Checklist
{
    position: relative;

    &:before
    {
        content:  url(/img/check-white.svg);
        position: absolute;
        left:     -10rem;
        width:    22rem;
        height:   22rem;
    }
}