// ---------------------------------------------------------------------------------------------------------------------
//	File:	SET
//	Role:	initial css rules to the document, such as html {} body {} etc.
// ---------------------------------------------------------------------------------------------------------------------

@include Import-Font('roboto', 300, normal, woff);
@include Import-Font('roboto', 400, normal, woff);

html
{
    font-size: 1px;
}

body
{
    min-width:    1260px;
    font-kerning: normal;
    font:         400 16rem/20rem $Font-Primary, sans-serif;
    color:        $Text-Primary;
}

a
{
    &:link,
    &:visited
    {
        //color: $Primary;
    }

    &:hover
    {
        //color: $Primary-l;
    }
}

b,
strong
{
    font-weight: 500;
}

i,
em
{
    font-style: italic;
}

svg.Sprite-Svg
{
    display: none;
}