.Section-Heading
{
  @extend %Header-Std;
}

.Rub
{
  font-family : Roboto, sans-serif;
  font-weight : 300;
}

.Row
{
  & > *
  {
	width : 100%;
  }

  & + .Row
  {
	margin-top : 15rem;
  }

  &.Double
  {
	font-size : 0;

	& > input
	{
	  width : 45%;
	}

	span + input
	{
	}

	span
	{
	  display     : inline-block;
	  width       : 10%;
	  line-height : 40rem;
	  font-size   : 16rem;
	  font-weight : 500;
	  text-align  : center;
	  color       : #fff;

	}

  }
}

.Huge
{
  @extend %Column;
  @extend %Text-Bold-Red;

  text-align : center;

}

.Btn
{
  @extend %Transition-Std;

  display         : inline-block;
  margin-top      : 32rem;
  padding         : 0 55rem;

  white-space     : nowrap;
  border          : 0;
  border-radius   : 4rem;
  font-size       : 22rem;
  font-weight     : 300;
  line-height     : 66rem;
  text-decoration : none;
  color           : #fff;
  cursor          : pointer;

  &.Primary
  {
	background-color : $Primary;

	&:hover
	{
	  background-color : $Grey;
	}
  }

  &.Secondary
  {
	background-color : $Grey;

	&:hover
	{
	  background-color : $Grey-D;
	}
  }
}

input, select, textarea
{
  @extend %Transition-Std;
  box-sizing       : border-box;
  display          : inline-block;
  padding          : 0 15rem;
  border           : 0;
  border-radius    : 4rem;

  font             : 300 16rem/22rem Roboto, sans-serif;
  background-color : #fff;

  &:focus
  {
	background-color : #feffd7;
	outline          : 0;
	box-shadow       : 0 3rem 5rem rgba(#000,.4);
  }

  &::-webkit-input-placeholder,
  &:-moz-placeholder
  {
	color : $Grey-L;
  }

}

input
{
  line-height : 48rem;
  min-height  : 48rem;
}

textarea
{
  padding : 15px;
}