.fsz-14
{
  display : inline-block;
  margin-top : 5rem;
  font-size : 14rem;
}

.fsz-18
{
  font-size : 18rem;
}

.fsz-22
{
  font-size : 22rem;
}

.lh-34
{
  line-height : 34rem;
}

.fw-300
{
  font-weight : 300;
}

.fw-500
{
  font-weight : 500;
}

.tac
{
  text-align : center;
}

.mw-900
{
  max-width:900rem;
}