// ---------------------------------------------------------------------------------------------------------------------
//	File:	Первый экран (Оставить заявку)
// ---------------------------------------------------------------------------------------------------------------------

.About-Us
{
	@extend %Section-Block;
	padding-top: 150rem;

	text-align:  center;

	header
	{
		text-align: center;

		h2
		{
			@extend %Heading-H2;

			color: $Primary;
		}

		p
		{
			font:         300 22rem/26rem Roboto, sans-serif;
			font-variant: small-caps;
		}
	}

	.First-Screen-Banner
	{
		position:        relative;
		margin-top:      40rem;
		height:          400rem;
		background:      url('../img/about-us.jpg') center center no-repeat;
		background-size: cover;

		.Btn
		{
			position:        absolute;
			right:           0;
			top:             225rem;
			margin-top:      0;
			padding:         0;
			width:           50rem;
			height:          50rem;
			transform:       rotate(-90deg);

			text-decoration: none;

			span
			{
				width:                   200rem;
				display:                 block;
				transform:               rotate(0deg);
				white-space:             nowrap;
				text-align:              center;
				text-transform:          uppercase;
				font-size:               16rem;
				line-height:             50rem;
				border-top-left-radius:  4rem;
				border-top-right-radius: 4rem;
				color:                   #fff;
				background-color:        $Grey;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
