.Our-Goal
{
  @extend %Section-Block;

  padding-bottom : 50rem;

  text-align     : center;

  .Roadmap
  {
	@extend %Column-Narrow;

	margin-top : 40rem;

	text-align : left;

	li
	{
	  @extend %Clearfix;

	  font-size   : 18rem;
	  line-height : 21rem;
	  font-weight : 300;

	  & + li
	  {
		margin-top : 25rem;
	  }

	  svg
	  {
		float        : left;
		width        : 35rem;
		height       : 44rem;
		margin-right : 30rem;
	  }
	}
  }

  @at-root .Results
  {
	margin-top       : 60rem;
	padding          : 40rem 0;

	background-color : $Secondary;

	.Inner
	{
	  @extend %Column-Wide;
	  @extend %Two-Columns;

	  overflow : hidden;
	}

	h4
	{
	  display      : block;
	  margin       : 0 auto;
	  font-size    : 33rem;
	  font-variant : small-caps;
	  font-weight  : 300;
	  text-align   : center;
	  width        : auto;
	}

	h5
	{
	  @extend %Text-Bold-Red;
	  text-align : center;
	}

	.Left, .Right
	{
	  position   : relative;
	  margin-top : 40rem;

	  li
	  {
		line-height         : 21rem;
		font-weight         : 300;
		padding-left        : 40rem;
		background-size     : 22rem 22rem;
		background-position : left center;
		background-repeat   : no-repeat;
	  }
	}

	.Left
	{
	  padding-right : 70rem;

	  &:after
	  {
		content  : url(../img/zigzag.svg);
		position : absolute;
		top      : 0;
		right    : 0;
		width    : 9rem;
		height   : 510rem;
	  }

	  li
	  {
		background-image : url(../img/arrow-right.svg);
	  }
	}

	.Right
	{
	  padding-left : 70rem;

	  li
	  {
		background-image : url(../img/check.svg);
	  }
	}

	@at-root .Results-List
	{
	  margin-top  : 20rem;
	  text-align  : left;
	  font-size   : 16rem;
	  line-height : 20rem;

	  li
	  {
		& + li
		{
		  margin-top : 15rem;
		}
	  }
	}
  }
}