.Forecast
{
    .Slider
    {
        $Slider-Arrow-Width: 44rem;
        $Slider-Arrow-Height: 82rem;
        $Slider-Arrow-Padding: 20rem;
        $Slider-Arrow-E-Height: $Slider-Arrow-Height + ($Slider-Arrow-Padding * 2);

        @extend %Slider;

        max-width: 1240rem;
        margin:    0 auto;

        .Slider-Arrow
        {
            margin-top: -($Slider-Arrow-E-Height/2);
            padding:    $Slider-Arrow-Padding;
            height:     $Slider-Arrow-E-Height;

            svg
            {
                width:        $Slider-Arrow-Width;
                height:       $Slider-Arrow-Height;

                stroke:       $Primary;
                stroke-width: 1;
            }
        }

        .Slider-Content
        {
            position:    relative;
            padding:     0 60rem;
            font-size:   13rem;
            line-height: 16rem;
            height:      650rem;
            text-align:  center;

            .Tooltip
            {
                width: 180rem;

                &.Left
                {
                    text-align: right;
                }
            }
        }
    }
}