.What-We-Do
{
	padding: 50rem 0;
	text-align: center;
	.Banner
	{
		@extend %Column-Wide;
		display: block;
		width: 100%;
		margin: 40rem auto;
	}


	article
	{
		@extend %Column-Wide;
		@extend %Two-Columns;

		overflow: hidden;
		margin-top: 80rem;

		h5
		{
			text-align: center;
			font: 300 22rem/26rem Roboto, sans-serif;
			font-variant: small-caps;
		}

		@at-root .Factors-List
		{
			margin-top: 40rem;

			li
			{
				position: relative;
				padding-left: 20rem;
				font-size: 16rem;
				font-weight: 300;
				line-height: 21rem;

				&:before
				{
					content: '';
					position: absolute;
					top: 10rem;
					left:0;
					width: 3rem;
					height: 3rem;
					background-color: $Text-Primary;
					border-radius: 50%;
				}

				& + li
				{
					margin-top: 10rem;
				}
			}
		}

		.Left, .Right
		{
			position: relative;
		}

		.Left
		{
			padding-right: 70rem;

			&:after
			{
				content: url(../img/zigzag.svg);
				position: absolute;
				top: 0;
				right: 0;
				width: 9rem;
				height: 510rem;
			}
		}

		.Right
		{
			padding-left: 70rem;
		}

	}
}