// ---------------------------------------------------------------------------------------------------------------------
//	File:	Оставить заявку
// ---------------------------------------------------------------------------------------------------------------------

.Leave-Request
{
    @extend %Section-Block;

    padding:          70rem 0 50rem;

    text-align:       center;
    background-color: $Primary-L;

    header
    {
        display:    block;
        text-align: center;
        color:      #fff;

        h2
        {
            position:       relative;
            vertical-align: bottom;
            display:        inline-block;
            font:           400 19rem/25rem 'Roboto Slab', sans-serif;
        }

        p
        {
            position:      absolute;
            left:          105%; // Fallback if 'calc' failed
            left:          calc(100% + 15rem);
            top:           -35rem;
            display:       block;
            width:         180rem;
            height:        48rem;
            padding:       10rem 20rem;
            margin-bottom: 10rem;

            text-align:    center;
            font:          300 italic 12rem/14rem Roboto, sans-serif;

            svg, use
            {
                width:    180rem;
                height:   48rem;
                position: absolute;
                top:      0;
                left:     0;
                right:    0;
            }
        }
    }

    form
    {
        max-width: 600rem;
        display:   block;
        margin:    40rem auto 0;

        textarea
        {
            min-height: 132rem;
        }
    }
}

.JS-Message-Error
{
    background: #f7c5c5;
    color:      white;
}

.JS-Form-Result
{
    color:       white;
    font-weight: 300;
    font-size:   20rem;
    padding-top: 20rem;
}

// ---------------------------------------------------------------------------------------------------------------------
