.Roadmap
{
    @extend %Section-Block;

    p.Intro
    {
        @extend %Text-Regular-Red;
        @extend %Column;
        display:          inline-block;
        padding:          10rem;
        text-align:       center;
        color:            #fff;
        background-color: $Primary-L;
    }

    img.Months
    {
        display: inline-block;
    }

    .Facts-and-Numbers
    {
        background-color: $Secondary;
        padding:          60rem 0;

        h4
        {
            font-family: 'Roboto Slab', serif;
            font-size:   48rem;
            font-weight: 300;
        }

        ul
        {
            margin-top: 100rem;
            font-size:  0;

            li
            {
                vertical-align: top;
                display:        inline-block;
                width:          20%;
                font-size:      22rem;
                font-weight:    300;
                line-height:    32rem;
                text-align:     center;
                color:          $Primary;

                strong
                {
                    font-size:   80rem;
                    font-weight: 700;
                }

                &:nth-of-type(1) svg
                {
                    width: 110px;
                }
                &:nth-of-type(2) svg
                {
                    width: 200px;
                }
                &:nth-of-type(3) svg
                {
                    width: 163px;
                }
                &:nth-of-type(4) svg
                {
                    width: 220px;
                }
                &:nth-of-type(5) svg
                {
                    width: 140px;
                }

                &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5)
                {
                    font-size:   17rem;
                    font-weight: 300;
                    line-height: 21rem;
                }
                &:nth-of-type(5) span
                {
                    position: relative;
                    left:     -40px;
                    top:      -10px;
                }
            }
        }
    }

    .Months
    {
        @extend %Column-Wide;
    }

    .Graph-Year
    {
        position:         relative;
        width:            95rem * 11;
        height:           8rem;
        margin:           225rem 0 30rem 120rem;
        background-color: $Primary-L;
        font-size:        0;
        counter-reset:    list;

        &:before
        {
            content:     'Месяцы';
            position:    absolute;
            font-size:   23rem;
            font-family: 'Roboto Slab', serif;
            font-weight: 400;
            color:       $Primary-L;
            left:        -120rem;
            top:         -11rem;
        }

        li
        {
            vertical-align: middle;
            display:        inline-block;
            margin-top:     -11rem;
            position:       relative;
            width:          95rem;

            &:last-child
            {
                width: 0;
            }

            &:after
            {
                content:           counter(list, decimal-leading-zero);
                counter-increment: list;
                display:           block;
                position:          absolute;
                width:             22rem;
                height:            22rem;
                top:               -11rem;
                left:              -2rem;
                background-color:  #fff;
                text-align:        center;
                border-radius:     50%;
                font-size:         12rem;
                color:             $Primary-L;
            }




            &.Bracket
            {

                &:before
                {
                    content:    '';
                    position:   absolute;
                    top:        -45rem;
                    left:       16rem;
                    display:    block;
                    width:      182rem;
                    height:     27rem;
                    background: url(../img/bracket.png) center no-repeat;
                }


                &.Wide
                {
                    &:before
                    {
                        position:   absolute;
                        width:      374rem;
                        background: url(../img/bracket-2.png) center no-repeat;
                    }

                    span
                    {
                        left: 160rem;
                    }
                }
            }

            span
            {
                position:       absolute;
                top:            - 150rem;
                left:           -10rem;
                vertical-align: middle;
                display:        block;
                width:          170rem;
                min-height:     32rem;
                font-size:      15rem;
                font-weight:    500;
                line-height:    16rem;
                text-align:     left;
                color:          $Primary-L;
                transform:      rotate(-45deg);
            }
        }
    }
}

.Facts-Carousel
{
    @extend %Slider;

    height:     440px;
    max-width:  1240px;
    margin:     20rem auto 0;

    .Slider-Content
    {
        height: 100%;
    }

    .JS-Carousel-Item
    {
        article
        {
            height:     440px;
            padding: 0 60rem;
            font-size: 0;
            background-repeat :no-repeat;
            background-position : bottom right;


            &.Services
            {
                background-image : url(../../img/services.png);
            }
            &.Cloud
            {
                background-image : url(../../img/cloud.png);
            }
            &.Food
            {
                background-image : url(../../img/food.png);
            }
            &.Finance
            {
                background-image : url(../../img/finance.png);
            }
        }

        .Roadmap-Button
        {
            width:          20%;
            display:        inline-block;
            vertical-align: middle;

            button
            {
                padding:     16px 22px;
                background:  none;
                border:      2px solid $Primary;
                color:       $Primary;
                font-size:   20rem;
                font-weight: 300;
                font-family: roboto, sans-serif;
                margin-top:  120px;
            }

        }

        .Roadmap-Content
        {
            display:        inline-block;
            position:       relative;
            z-index:        1;
            width:          48%;
            margin-right : 20%;
            vertical-align: middle;

            h3
            {
                display:     block;
                margin:      0 auto;
                font-size:   34rem;
                line-height: 40rem;
                width:       auto;
                font-weight: 300;
                color:       $Primary;
            }

            h4, p
            {
                margin-top:  8rem;
                font-size:   18rem;
                line-height: 24rem;
                font-weight: 300;
            }

            .Schema
            {
                margin-top: 20rem;
                text-align: center;

                &.Shifted
                {
                    position: relative;
                    top:      -30px;
                }
                &.Shifted-Huge
                {
                    position: relative;
                    top:      -50px;
                }

                b
                {
                    display:     block;
                    font-size:   18rem;
                    margin-top:  15rem;
                    font-weight: 300;
                    color:       $Primary;
                }
                span
                {
                    display:     block;
                    font-size:   12rem;
                    line-height: 14rem;
                    font-weight: 400;
                    color:       $Primary;
                }

                &.Row-5 .Column
                {
                    width: 20%;
                }

                &.Row-6 .Column
                {
                    width: 16.6%;
                }

                @for $i from 1 through 50
                {
                    .Rectangle[ data-height= '#{$i}' ]
                    {
                        height: $i*5 + px;
                    }
                }

                .Column
                {
                    display: inline-block;
                    &.Minus
                    {
                        .Rectangle
                        {
                            position:         absolute;
                            background-color: #f2b5b5;
                            &:after
                            {
                                display: none;
                            }
                        }
                        b
                        {
                            position:   relative;
                            top:        -60px;
                            text-align: right;
                        }
                        span
                        {
                            position:   relative;
                            top:        -60px;
                            text-align: right;
                        }
                    }
                }

                .Rectangle
                {
                    display:    inline-block;
                    position:   relative;
                    width:      45px;
                    height:     10px;
                    background: $Primary-L;

                    &:after
                    {
                        content:          '';
                        z-index:          -1;
                        position:         absolute;
                        background:       black;
                        width:            45px;
                        height:           40%;
                        right:            0;
                        bottom:           0;
                        transform:        skewX(-45deg);
                        transform-origin: bottom;
                    }
                }
            }
        }

        p.Shifted
        {
            margin-top : -20rem;
        }
    }

    .Slider-Arrow
    {
        margin-top: -80rem !important;
        padding: 20rem;

        &.Prev
        {
            left: -10rem;
        }
        &.Next
        {
            right: -10rem;
        }
        @include Adaptive('<DS')
        {
            &.Prev
            {
                left: 10rem;
            }
            &.Next
            {
                right: 10rem;
            }
        }

        svg
        {
            width:        44rem;
            height:       82rem;
            stroke:       #d8332b;
            stroke-width: 1;
        }
    }
    transition: 0.15s;
}

.Zigzag
{

}