.Cases
{
  @extend %Section-Block;

  .Intro
  {
	@extend %Column;
	@extend %Text-Regular-Red;
	text-align : center;
  }

  .Cases-Tabs
  {
	margin-top : 60rem;

	.Tab-Captions
	{
	  @extend %Column-Wide;
	  vertical-align : bottom;
	  display        : inline-block;
	  width          : 100%;

	  .Tab-Captions-Item
	  {
		display          : inline-block;
		padding          : 15rem 50rem 20rem 20rem;
		background-color : $Grey;
		text-align       : left;
		color            : #fff;

		li
		{
		  position : relative;
		  padding-left : 20rem;

		  &:before
		  {
			content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8.7" height="9.1" viewBox="0 0 8.7 9.1"><polygon points="8.7 4.6 0 0 0 9.1 8.7 4.6" style="fill:#f5f5f5"/></svg>');
			position : absolute;
			left:0;
		  }
		}

		&.Active
		{
		  padding          : 20rem 50rem 20rem 20rem;
		  background-color : $Primary-L;
		}

		&:not(.Active)
		{
		  cursor : pointer;
		}

		& + .Tab-Captions-Item
		{
		  margin-left : 20rem;
		}

		h6
		{
		  text-transform : uppercase;
		  font-size      : 18rem;
		  font-weight    : 400;
		}
	  }
	}

	.Tab-Content
	{
	  background : $Primary-L;

	  .Tab-Content-Item
	  {

		@extend %Slider;
		display : none;
		height  : 440px;

		.Slider, .JS-Carousel-List
		{
		  height : 100%;
		}

		.JS-Carousel
		{
		  max-width : 1200px;
		  margin    : 0 auto;

		  $Slider-Arrow-Width : 44rem;
		  $Slider-Arrow-Height : 82rem;
		  $Slider-Arrow-Padding : 20rem;
		  $Slider-Arrow-E-Height : $Slider-Arrow-Height + ($Slider-Arrow-Padding * 2);

		  .Slider-Arrow
		  {
			margin-top : -($Slider-Arrow-E-Height/2);
			padding    : $Slider-Arrow-Padding;
			height     : $Slider-Arrow-E-Height;

			svg
			{
			  width        : $Slider-Arrow-Width;
			  height       : $Slider-Arrow-Height;

			  stroke       : white;
			  stroke-width : 1;
			}
		  }
		}

		.JS-Carousel-Item
		{
		  padding         : 50rem 100px;
		  height          : 100%;
		  background-size : 180px;
		}

		.Cosmetics
		{
		  background      : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="193.5" height="242" viewBox="0 0 193.5 242"><path d="M17.3,169.8a14.9,14.9,0,0,0,5-.9c7.3-2.4,12.6-10.3,12.6-19.4s-4.4-11.8-11.2-18.8l-0.9-.9a37.7,37.7,0,0,1-2.9-4.4l-0.3-.9a2.2,2.2,0,0,0-2.1-1.5,3,3,0,0,0-2.4,1.5l-0.3.6c-0.6,1.2-2.4,3.8-2.9,4.1C5.6,135.1,0,140.1,0,149.8S7.6,169.8,17.3,169.8Zm-3.2-37.3c0.9-.9,2.4-3.2,3.2-4.4a24.3,24.3,0,0,0,3.2,4.4l0.9,0.9c6.5,6.5,10,10,10,17.1S27,164.5,21.2,166.3a19.9,19.9,0,0,1-4.1.6c-7.9,0-13.8-7.1-13.8-16.5S7.1,138.6,14.1,132.4Z" style="fill:#fff"/><path d="M12.6,116.3h8.5a1.9,1.9,0,0,0,1.8-1.5c0-.3,3.5-17.3,10.9-24.7,5-4.7,35.3-17.3,49.7-23.2,7.6,15.6,21.5,23.5,32.9,23.5a25.5,25.5,0,0,0,8.2-1.5,21.3,21.3,0,0,0,5.6-3.2h0.3l27-21.8A25.3,25.3,0,0,0,167,44.5a54.9,54.9,0,0,0-2.1-14.4c4.4-1.5,15.3-5.3,16.5-11.5s-0.9-9.4-5.3-11.5-12.3-2.1-20.6,5.9a41.9,41.9,0,0,0-9.4-8.5A24.8,24.8,0,0,0,125.8.7L98.2,7.5A19.2,19.2,0,0,0,92.3,9C82,13.1,72.9,27.5,77,49,60.9,56.6,37.6,67.8,28.5,72.5c-20.3,10.6-17.6,40.9-17.6,42A1.7,1.7,0,0,0,12.6,116.3ZM174.3,10.1a6.8,6.8,0,0,1,3.2,7.9c-0.6,3.8-8.5,7.3-14.1,8.8a45.5,45.5,0,0,0-6.2-11.2C164.6,9,171.1,8.4,174.3,10.1ZM93.5,12.5a13.8,13.8,0,0,1,5-1.2h0.3l27.9-7.1a21.2,21.2,0,0,1,17.3,3.2c8.8,6.2,19.1,17.6,19.4,37a21.8,21.8,0,0,1-7.9,16.8l-27,21.5a0.3,0.3,0,0,0-.3.3,17.2,17.2,0,0,1-5,2.9c-10.9,4.4-27.9-2.6-36.8-20.3a39.3,39.3,0,0,1,5.3-2.1c6.5,10.3,15.3,16.8,23.5,16.8a16.6,16.6,0,0,0,5.3-.9c5.3-2.1,9.1-7.3,10.3-14.7a43.6,43.6,0,0,0-2.9-23.2,44.3,44.3,0,0,0-14.1-18.8c-6.2-4.4-12.3-5.6-17.6-3.2-8.5,3.5-11.8,11.2-10.9,26.2l-2.6,1.2H82.3c-0.9.3-1.5,0.9-2.4,1.2C76.7,28.7,84.4,16,93.5,12.5ZM120.8,39a10.3,10.3,0,0,0-8.8-5,11.8,11.8,0,0,0-4.4.9L88.8,43.7c-0.6-15.3,4.1-19.4,8.8-21.5s9.4-.6,14.4,2.9,10,10,12.9,17.3a42.5,42.5,0,0,1,2.9,21.2c-1.2,6.2-4.1,10.6-8.2,12.3-6.2,2.4-16.5-1.5-24.1-13.8l1.8-.9c7.6-2.9,14.1-5.6,18.8-7.6a9.9,9.9,0,0,0,5.9-6.5A11.5,11.5,0,0,0,120.8,39ZM30,75.7c10-5.3,38.2-18.5,53.8-25.9h0.3c10-4.7,19.1-9.1,24.7-11.5a10.4,10.4,0,0,1,2.9-.6,6.8,6.8,0,0,1,5.9,3.2v0.3a7.3,7.3,0,0,1,.6,5.6,7.2,7.2,0,0,1-3.8,4.4c-4.7,2.1-11.2,4.7-18.8,7.6l-3.8,1.5-8.5,3.5c-22.9,9.4-47,19.7-52,24.7-7.1,6.8-10.6,20.6-11.8,25H13.8C13.8,106.6,14.1,83.9,30,75.7Z" style="fill:#fff"/><path d="M152.6,132.4V108.9a5.9,5.9,0,0,0-5.9-5.9H122.9a5.9,5.9,0,0,0-5.9,5.9v23.5a43.8,43.8,0,0,0-39.1,42.6L75.8,242h3.5l2.1-66.6a40.5,40.5,0,0,1,40.9-39.7h25a40.5,40.5,0,0,1,40.9,39.7l2.1,66.6h3.3l-1.8-66.6A44.3,44.3,0,0,0,152.6,132.4Zm-32.3-23.5c0.3-1.5,1.2-2.6,2.6-2.6h23.8a2.5,2.5,0,0,1,2.4,2.4v6.8H120.2v-6.5Zm29.1,23.2H120.5V118.9h28.8v13.2Z" style="fill:#fff"/></svg>') right 50px bottom no-repeat;
		}
		.Beer
		{
		  background      : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="287.6" height="250" viewBox="0 0 287.6 250"><path d="M59.3,197.1a1.9,1.9,0,0,0-.5,1.3,1.8,1.8,0,0,0,.5,1.3,1.9,1.9,0,0,0,1.3.6,1.9,1.9,0,0,0,1.3-.6,1.8,1.8,0,0,0,.5-1.3,1.9,1.9,0,0,0-.5-1.3A1.9,1.9,0,0,0,59.3,197.1Z" style="fill:#fff"/><path d="M70.1,148.6a1.9,1.9,0,0,0-.5,1.3,1.8,1.8,0,0,0,.5,1.3,1.8,1.8,0,0,0,3.1-1.3,1.9,1.9,0,0,0-.5-1.3A1.9,1.9,0,0,0,70.1,148.6Z" style="fill:#fff"/><path d="M61.8,110.8a1.8,1.8,0,1,0-2.6,2.6,1.9,1.9,0,0,0,1.3.5,1.8,1.8,0,0,0,1.3-.5,1.9,1.9,0,0,0,.5-1.3A1.8,1.8,0,0,0,61.8,110.8Z" style="fill:#fff"/><path d="M231.4,165a1.8,1.8,0,0,0-1.8,1.8v52.6a1.8,1.8,0,1,0,3.6,0V166.8A1.8,1.8,0,0,0,231.4,165Z" style="fill:#fff"/><path d="M273,157.9H259v-8.2l0.4-.2a27.5,27.5,0,0,0,18.5-24,27.2,27.2,0,0,0-25.4-28.8h-1.8a21.2,21.2,0,0,0-3.7.3h-0.5l-0.2-.5a9.7,9.7,0,0,0-8.4-6.1h-0.7a9.3,9.3,0,0,0-5.5,1.8l-0.4.3-0.4-.3a33.2,33.2,0,0,0-17.4-6.2h-2.2a29.4,29.4,0,0,0-7.6,1l-0.7.2V86.5a18,18,0,0,0-16.6-14.7h-1.2a17.6,17.6,0,0,0-17.3,13.9l-0.2.7-0.7-.2a33.8,33.8,0,0,0-8.4-1.6h-2.2a33.9,33.9,0,0,0-33.7,31.8,33.4,33.4,0,0,0,4.5,19l0.2,0.3-0.2.3A15.1,15.1,0,0,0,139.5,158h1a14.4,14.4,0,0,0,2.9-.3l0.8-.2V250h3.6v-8.5h95.9a1.8,1.8,0,1,0,0-3.6H147.8V156.1l0.7-.4,0.5-.3,1.2-.9a15.6,15.6,0,0,0,2.1-2.1l0.2-.2h0l0.2-.2h3.9a34.1,34.1,0,0,0,21.1-7.3,35.5,35.5,0,0,0,4.4-4.2,13.2,13.2,0,0,0,1.4-1.8l0.5-.9,0.6,0.8a33.8,33.8,0,0,0,4.8,5.3,33.3,33.3,0,0,0,3.1,2.5,33.8,33.8,0,0,0,17.1,6h2.2A32.8,32.8,0,0,0,233,145l0.4-.4,0.4,0.3a26.8,26.8,0,0,0,15.3,6h2.3l3.2-.3h0.8V250H259V231.3h14a14.6,14.6,0,0,0,14.6-14.5V172.5A14.6,14.6,0,0,0,273,157.9Zm-21.9-10.6h-1.8a23.3,23.3,0,0,1-13.3-5.2,4.4,4.4,0,0,0-5.4.1,29.8,29.8,0,0,1-19.2,7h-2a29.6,29.6,0,0,1-15.2-5.3l-2.9-2.3a30.3,30.3,0,0,1-4.2-4.7,4.2,4.2,0,0,0-6.8-.1l-1.5,1.8a31.3,31.3,0,0,1-3.8,3.6,30.4,30.4,0,0,1-18.8,6.5h-3.7a4.4,4.4,0,0,0-2.6.9l-0.9,1-1.5,1.5-0.9.7a11.4,11.4,0,0,1-6.5,2h-0.7a11.4,11.4,0,0,1-9.4-16.8,4.2,4.2,0,0,0-.1-4.1,30.3,30.3,0,0,1,26.2-45.4h1.9a30.1,30.1,0,0,1,7.5,1.4l1.3,0.2a4.3,4.3,0,0,0,2.1-.5,4.2,4.2,0,0,0,2-2.7,14.3,14.3,0,0,1,14.1-11.1h0.8a14.3,14.3,0,0,1,13.2,11.7,4.2,4.2,0,0,0,1.8,2.8,4.2,4.2,0,0,0,2.3.7h1a29.7,29.7,0,0,1,6.9-.8h1.9a29.6,29.6,0,0,1,15.5,5.5,4.3,4.3,0,0,0,2.5.8,4.2,4.2,0,0,0,2.5-.8,6,6,0,0,1,3.6-1.1h0.4A6.1,6.1,0,0,1,243,98a4.3,4.3,0,0,0,3.9,2.7h0.6l3.3-.2h1.4A23.5,23.5,0,0,1,251.2,147.4Zm32.8,69.4A10.9,10.9,0,0,1,273,227.7H259V161.6h14a10.9,10.9,0,0,1,10.9,10.9v44.2Z" style="fill:#fff"/><path d="M169.9,166.8v52.6a1.8,1.8,0,1,0,3.6,0V166.8A1.8,1.8,0,0,0,169.9,166.8Z" style="fill:#fff"/><path d="M25.4,186.5a340,340,0,0,1-6,63.5h3.7c0.3-1.6.8-4.1,1.3-7.5v-0.8l0.8,0.3H75a1.8,1.8,0,1,0,0-3.6H25.1v-0.8a355.6,355.6,0,0,0,3.9-51.3c0-17.6-5.9-35.1-12.1-53.7S3.6,93.2,3.6,71.9q0-3.4.1-6.7V64.8l0.4-.2a76,76,0,0,1,27.2-5.3,53.7,53.7,0,0,1,24.2,5.4,51.1,51.1,0,0,0,23,5.6A56.8,56.8,0,0,0,108,61.8l0.9-.6v1.1c0.2,3.6.3,6.6,0.3,9.6,0,21.3-6.8,41.4-13.3,60.9s-12.1,36-12.1,53.6A349.1,349.1,0,0,0,89.7,250h3.7a339.8,339.8,0,0,1-6-63.5c0-17,5.8-34.3,12-52.6s13.5-40.1,13.5-62C112.9,30.6,98.8,2.2,98.2,1a1.8,1.8,0,0,0-1.6-1H16.3a1.8,1.8,0,0,0-1.6,1C14.1,2.2,0,30.7,0,71.9,0,93.8,6.9,114.2,13.5,134,19.6,152.2,25.4,169.4,25.4,186.5ZM6.1,42.7A163.5,163.5,0,0,1,17.3,4l0.2-.4H95.4L95.6,4a164,164,0,0,1,11.5,40.6l0.4,2.8-1.6-2.3c-4.3-6.1-10.5-9.6-16.9-9.6s-13.5,4-17.9,11.1a2,2,0,0,1-1.7,1,2.1,2.1,0,0,1-1.6-.8c-2.8-3.6-7.9-6.4-11.6-6.4a12.7,12.7,0,0,0-5.3,1l-0.9.2-1-.3a2.1,2.1,0,0,1-1-1.6A14.9,14.9,0,0,0,19,37a2.1,2.1,0,0,1-2,1.4c-3.3,0-6.9,1.7-9.8,4.8L5.7,44.8Zm1.1,6.6c2.3-4.3,6.3-7.2,9.9-7.2a5.7,5.7,0,0,0,5.4-4,11.2,11.2,0,0,1,22,2.1,5.7,5.7,0,0,0,2.8,4.3,5.6,5.6,0,0,0,5.2.3,9.2,9.2,0,0,1,3.8-.7c2.3,0,6.5,2.1,8.8,5a6,6,0,0,0,4.8,2.1h0a5.7,5.7,0,0,0,4.5-2.7c3.6-5.9,9-9.4,14.8-9.4,8.5,0,16,7.5,18.2,18.3v0.4l-0.4.2A51.7,51.7,0,0,1,79,66.8a48.2,48.2,0,0,1-21.7-5.3,57.6,57.6,0,0,0-26-5.9A78.6,78.6,0,0,0,6.1,60l-0.8.3V59.5A18.2,18.2,0,0,1,7.2,49.3Z" style="fill:#fff"/><path d="M86.1,91.5a1.8,1.8,0,0,0,.5-1.3,1.9,1.9,0,0,0-.5-1.3,1.9,1.9,0,0,0-2.5,0,1.9,1.9,0,0,0,0,2.6,1.9,1.9,0,0,0,1.3.5A1.8,1.8,0,0,0,86.1,91.5Z" style="fill:#fff"/><path d="M264.7,120.2a1.8,1.8,0,0,0-1.8,1.7c-0.5,8-6.2,15-12.2,15a1.8,1.8,0,0,0,0,3.6c8.1,0,15.2-8.3,15.8-18.4A1.8,1.8,0,0,0,264.7,120.2Z" style="fill:#fff"/><path d="M170,98.3a1.7,1.7,0,0,0-1.3.5,1.8,1.8,0,0,0,0,2.6,1.8,1.8,0,0,0,1.3.5,1.9,1.9,0,0,0,1.3-.5,1.8,1.8,0,0,0,.5-1.3,1.8,1.8,0,0,0-.5-1.3A1.9,1.9,0,0,0,170,98.3Z" style="fill:#fff"/><path d="M48.5,175.5a1.9,1.9,0,0,0-.5,1.3,1.8,1.8,0,0,0,.5,1.3,1.9,1.9,0,0,0,1.3.5,1.8,1.8,0,0,0,1.8-1.8,1.9,1.9,0,0,0-.5-1.3A1.9,1.9,0,0,0,48.5,175.5Z" style="fill:#fff"/><path d="M199.8,166.8v52.6a1.8,1.8,0,1,0,3.6,0V166.8A1.8,1.8,0,0,0,199.8,166.8Z" style="fill:#fff"/><path d="M34.5,93.9A1.8,1.8,0,0,0,35.8,97a1.9,1.9,0,0,0,1.3-.5,1.8,1.8,0,0,0,.5-1.3,1.8,1.8,0,0,0-1.8-1.8A1.9,1.9,0,0,0,34.5,93.9Z" style="fill:#fff"/><path d="M163.7,98.4H162a24.5,24.5,0,0,0-24.4,23,1.8,1.8,0,0,0,.4,1.3,1.8,1.8,0,0,0,1.3.6h0.1a1.8,1.8,0,0,0,1.8-1.7,20.9,20.9,0,0,1,20.9-19.6h1.5a1.8,1.8,0,0,0,1.7-1.7A1.8,1.8,0,0,0,163.7,98.4Z" style="fill:#fff"/></svg>') right 10px bottom no-repeat;
		}


		.Cases-Item-Inner
		{
		  padding-right : 200rem;
		}

		.Cases-Graph
		{
		  width : 550px;
		}

		&.Active
		{
		  display : block;
		}
	  }

	  .Slider-Content
	  {
		color : #fff;

		h5
		{
		  margin-bottom : 80rem;
		  font-family   : 'Roboto Slab', serif;
		  font-size     : 36rem;
		  font-weight   : 300;
		}

		header
		{
		  margin-bottom : 80rem;

		  & > p
		  {
			margin-top  : 15rem;
			font-family : 'Roboto Slab', serif;
			font-size   : 26rem;
			font-weight : 300;
		  }

		  & > small
		  {
			display : inline-block;
			margin-top : 20rem;
			font-size   : 25rem;
			line-height :1;
			font-weight : 300;
		  }

		  & > h5
		  {
			margin-bottom : 0;
		  }
		}

		p
		{
		  font-size   : 22rem;
		  line-height : 26rem;
		}

		// Список с галочками в 4 колонки
		.Checklist
		{
		  font-size : 0;

		  & > li
		  {
			@extend %Checklist;

			vertical-align : top;
			display        : inline-block;
			width          : 25%;
			padding        : 0 20rem;
			font-size      : 12rem;
			line-height    : 18rem;
			text-align     : left;

			&:before
			{
			  top: -5rem;
			}

			strong
			{
			  display     : block;
			  font-size   : 17rem;
			  font-weight : 500;
			}

		  }

		  &.Three > li
		  {
			width : 33.33%;
		  }
		}

		// Внутренний список с буллитами в виде точки
		.List-Inner
		{
		  margin-top : 5rem;
		  li
		  {
			position : relative;
			&:before
			{
			  position : absolute;
			  content: '•';
			  left: -10rem;
			}
		  }
		}

		.Legend
		{
		  vertical-align : top;
		  display        : inline-block;
		  width          : 240rem;
		  text-align     : left;
		  font-size      : 17rem;
		  line-height    : 24rem;

		  strong
		  {
			font-variant : small-caps;
			font-weight  : 400;
		  }

		  p
		  {
			padding     : 0;
			font-size   : 17rem;
			line-height : 24rem;
		  }

		  ul
		  {
			margin-top : 15rem;
		  }

		  li
		  {
			@extend %Checklist;

			padding-left : 35rem;

			&:before
			{
			  top  : -4rem;
			  left : -2rem;
			}
			& + li
			{
			  margin-top : 10rem;
			}
		  }

		}
		.About
		{
		  vertical-align : middle;
		  display        : inline-block;
		  padding        : 0 20rem;
		  width          : 160rem;
		  font-size      : 17rem;
		  line-height    : 24rem;
		  font-weight    : 300;
		}

		.Graph
		{
		  vertical-align : middle;
		  display        : inline-block;
		  margin-left    : -70rem;
		}

		.Caption
		{
		  position       : relative;
		  display        : inline-block;
		  vertical-align : middle;
		  font-size      : 26rem;
		  line-height    : 30rem;
		  font-weight    : 300;
		  width          : 200rem;

		  &:after
		  {
			content    : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="39.4" height="136.6" viewBox="0 0 39.4 136.6"><path d="M38.1,136.6q-10.9-3.4-16.1-11t-5.3-20V89.8Q16.8,70.7,0,70.7V66.2q16.8,0,16.8-19V30.6q0.1-12.1,5.4-19.7T38.1,0l0.9,3Q20.4,9,20.4,31.7V46.9q0,18.2-14.1,21.5Q20.4,72,20.4,90v15.6q0,21.4,19,28Z" style="fill:#fff"/></svg>');
			position   : absolute;
			top        : 50%;
			right      : -60rem;
			margin-top : -70rem;
		  }
		}

		.Cones
		{
		  display        : inline-block;
		  margin : 0 115rem 0 90rem;
		  text-align     : left;
		  vertical-align : middle;

		  li
		  {
			position     : relative;
			padding-left : 30rem;
			font-size    : 21rem;
			font-weight  : 300;
			&:before
			{
			  content  : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23.9" height="26.2" viewBox="0 0 23.9 26.2"><path d="M16,9.1l-4,3.5-4-3.5H1.5C2,6.3,5.4,5,11.9,5s9.9,1.4,10.4,4.1H16Zm3.7,5-0.6.8-0.9-.5a6.5,6.5,0,0,1-2.8-2.8l1.2-1.1H21a6.5,6.5,0,0,1-1.4,3.6M18,20l-0.5.6-0.7-.4a5.9,5.9,0,0,1-2.2-2,8,8,0,0,0,1.7-3.1l1.1,0.7,1.8,0.9A5.9,5.9,0,0,1,18,20m-5.5,3.8-0.6.5-0.6-.5a5.9,5.9,0,0,1-2-3.4l0.9-1.1,1.6,1.3,1.6-1.3,0.9,1.1a5.9,5.9,0,0,1-2,3.4M8.8,13.9l0.9-1.3,2.2,2,2.2-2,0.9,1.2a6.6,6.6,0,0,1-2.4,4.2l-0.8.6-0.8-.6a6.6,6.6,0,0,1-2.4-4.2M7.1,20.2l-0.7.4L5.9,20a5.9,5.9,0,0,1-1.2-3.3l1.8-.9,1.1-.7a8,8,0,0,0,1.7,3.1,5.8,5.8,0,0,1-2.2,2M2.9,10.6H7.4l1.2,1.1a6.5,6.5,0,0,1-2.8,2.8l-0.9.5-0.6-.8a6.5,6.5,0,0,1-1.4-3.6m9.8-7.1V0H11.2V3.5C3.8,3.7,0,5.8,0,9.9v0.7H1.4a8,8,0,0,0,1.7,4.5v0.6a7.4,7.4,0,0,0,1.5,5.2L6,22.5l1.8-1,0.3-.2a7.4,7.4,0,0,0,2.3,3.5l1.6,1.3,1.6-1.3a7.4,7.4,0,0,0,2.3-3.6l0.3,0.2,1.8,1,1.3-1.6a7.4,7.4,0,0,0,1.5-5.2V15.1a8,8,0,0,0,1.7-4.5h1.4V9.9c0-4.1-3.8-6.2-11.2-6.3" style="fill:#fff"/>
</svg>');
			  position : absolute;
			  top      : -3rem;
			  left     : 0;
			}

			& + li
			{
			  margin-top : 30rem;
			}
		  }
		}

		.Bracket-2
		{
		  margin-top : 10rem;
		  font-size : 0;
		  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="530" height="60" viewBox="0 0 645.6 62.1"><polyline points="0.5 60.3 0.5 35.1 645.1 35.1 645.1 60.3" style="fill:none;stroke:#fff"/><line x1="322.8" y1="34.6" x2="322.8" y2="62.1" style="fill:none;stroke:#fff"/><polygon points="321.5 20.1 310.1 0.5 332.8 0.5 321.5 20.1" style="fill:none;stroke:#fff"/></svg>
  ') top center no-repeat;
		  span
		  {
			display : inline-block;
			margin-top : 65rem;
			vertical-align : top;
			width : 33.33%;
			padding: 0 6%;
			font-size :16rem;
			line-height : 1;
			font-weight : 500;
		  }

		}
	  }
	}
  }
}


.Results-Table
{
  min-width :760rem;

  th, td
  {
	padding: 4rem 8rem;
	border: 1rem solid rgba(#fff,.3);
	font-size :15rem;
	font-weight :300;
  }

  tr:first-child th
  {
	font-weight : 500;
  }
}