.Our-Team
{
    text-align: center;

    @at-root .Team-About
    {
        @extend %Column;

        font:       300 18rem/24rem Roboto, sans-serif;
        text-align: center;
    }

    @at-root .Team-Graph
    {
        margin-top:       40rem;
        padding:          40rem 0;

        background-color: $Secondary;

        .Inner
        {
            position: relative;
            margin:   0 auto;
            width:    1000rem;
            height:   425rem;
        }

        .Pop-Up
        {
            display:          none;
            position:         absolute;
            left:             -210rem;
            top:              -100%;
            width:            220rem;
            padding:          15rem;
            background-color: #d8332b;
            color:            #fff;
            font-size:        14rem;
            line-height:      16rem;
            text-align:       left;
            z-index:          10;
            cursor:           default;

            &:after
            {
                content:      '';
                position:     absolute;
                top:          50%;
                right:        -15px;
                margin-top:   -15rem;
                width:        0;
                height:       0;
                border-style: solid;
                border-width: 15px 0px 15px 15px;
                border-color: transparent transparent transparent #d8332b;
            }

            li
            {
                position:     relative;
                padding-left: 25rem;

                &:before
                {
                    content:  url(/img/check-white.svg);
                    position: absolute;
                    top:      -6rem;
                    left:     -4rem;
                    width:    22rem;
                    height:   22rem;
                }
            }

            li + li
            {
                margin-top: 10rem;
            }
        }

        .Person
        {
            position:        absolute;
            width:           170rem;
            font-size:       18rem;
            text-align:      center;
            text-decoration: none;
            color:           $Primary;

            &:hover svg.Face
            {
                fill: $Grey;
            }
            svg.Face
            {
                display:     inline-block;
                width:       45rem;
                height:      48rem;
                margin-left: 20rem;
                fill:        $Primary;
                transition:  fill .5s;

            }

            svg.Info
            {
                position: relative;
                top:      -10rem;
                right:    45rem;
                float:    right;
                width:    20rem;
                height:   20rem;
                fill:     $Primary;

            }

            &#Project-Manager .Pop-Up
            {
                left: -240rem;
            }

            &#Project-Manager .Pop-Up
            {
                left: -240rem;
            }
            &#Optimizer .Pop-Up
            {
                left:  auto;
                right: -220rem;

                &:after
                {
                    content:      '';
                    position:     absolute;
                    top:          50%;
                    left:        -15px;
                    margin-top:   -15rem;
                    width:        0;
                    height:       0;
                    border-style: solid;
                    border-width: 15px 15px 15px 0;
                    border-color: transparent  #d8332b transparent transparent;
                }
            }
        }
    }

    .Centrate-H
    {
        left:        50%;
        margin-left: -95rem;
    }

    .Bottom-Line
    {
        a
        {
            bottom: 0;
        }
    }

    #Client
    {
        top: 0;

        svg
        {
            margin: 0;
        }
    }

    #Project-Manager
    {
        top: 150rem;
    }

    #Designer
    {
        top:   100rem;
        right: -16rem;
    }

    #Translator
    {
        top:   190rem;
        right: -16rem;
    }

    #Optimizer
    {
        left: -16rem;
    }

    #Copyrighter
    {
        left: 260rem;
    }

    #Programmer
    {
        right: 270rem;
    }

    #Analytic
    {
        right: -16rem;
    }

    #Arrow-Tree
    {
        position:    absolute;
        left:        50%;
        margin-left: -437rem;
        width:       873rem;
        height:      83rem;
        bottom:      100rem;
    }
    #Arrow-Tree-2
    {
        position: absolute;
        top:      135rem;
        right:    125rem;
        width:    348rem;
        height:   89rem;
        bottom:   90rem;
    }

    #Arrow-Two-Sides
    {
        position:    absolute;
        left:        50%;
        margin-left: -15rem;
        top:         85rem;
        width:       11rem;
        height:      44rem;
    }
}