.Client-Reviews
{
    @extend %Section-Block;
    text-align: center;

    .Review-Item
    {
        @extend %Clearfix;
        @extend %Column;

        min-height: 125rem;

        img
        {
            @extend %Circle;
            position:     absolute;
            width:        125rem;
            height:       125rem;
            margin-right: 90rem;
        }
        figcaption
        {
            position:    relative;
            margin-left: 200rem;

            &:before
            {
                content:  url('/img/quote.svg');
                position: absolute;
                width:    33rem;
                height:   27rem;
                top:      -10rem;
                left:     -40rem;
            }
        }
        p
        {
            margin-top: 10rem;
        }
    }

    .Slider
    {
        @extend %Column-Wide;
        @extend %Slider;
        margin-top: 50rem;
        max-width:  1080px;
    }

    .Slider-Arrow
    {
        position:        absolute;
        margin-top:      -33rem;
        display:         inline-block;
        width:           62px;
        text-decoration: none;
        padding:         10rem 20rem;
        cursor:          pointer;

        svg
        {
            display: block;
            width:   22px;
            height:  42px;
            stroke:  $Primary;
        }

        &:hover svg
        {
            fill:   red;
            stroke: $Grey;
        }
        &.Next
        {
            right: -62px !important;
        }

        &.Prev
        {
            left: -62px !important;
        }

    }

    .Slider-Content
    {
        padding:   0 60px;
        font-size: 0;
        height:    70px;

        & > li
        {
            display:    inline-block;
            text-align: center;
            width:      16.66%;
            height:     70px;

            & > img
            {
                display:        inline-block;
                vertical-align: middle;
                margin-left:    auto;
                margin-right:   auto;
                max-height:     100%;

                position:       relative;
                top:            50%;
                transform:      translateY(-50%);
            }
        }
    }
}