// ---------------------------------------------------------------------------------------------------------------------
//	File:	Promotion Cost (Стоимость продвижения)
// ---------------------------------------------------------------------------------------------------------------------

.Promotion-Cost
{
  margin-bottom    : 25rem;
  padding          : 50rem 0;
  background-color : $Secondary;

  h2
  {
	@extend %Heading-H2;
  }

  article
  {
	@extend %Column-Wide;
	position   : relative;
	margin-top : 50rem;

	text-align : center;
	font-size  : 0;

	ul
	{
	  display        : inline-block;
	  vertical-align : middle;

	  li
	  {
		padding     : 20rem 0;
		font-size   : 16rem;
		line-height : 21rem;
		font-weight : 300;
		border-top  : 1px solid rgba(#000, .1);

		&:first-child
		{
		  border : 0;
		}
	  }
	}

	.Left
	{
	  width      : calc(50% - 175rem);
	  text-align : right;
	}
	.Right
	{
	  width      : calc(50% - 175rem);
	  right      : 0;
	  text-align : left;
	}

	.Illustration
	{
	  vertical-align : middle;
	  position       : relative;
	  display        : inline-block;
	  padding        : 20rem 100rem;
	  text-align     : center;
	  max-width      : 350rem;

	  &:before,
	  &:after
	  {
		content  : url('../img/arrow-thick.svg');
		top      : 70rem;
		position : absolute;
		width    : 52rem;
		height   : 48rem;
	  }

	  &:before
	  {
		left : 30rem;
	  }

	  &:after
	  {
		transform : rotate(180deg);
		right     : 30rem;
	  }

	  & > p
	  {
		max-width  : 150rem;
		margin-top : 20rem;

		font       : 400 18rem/22rem 'Roboto Slab', serif;
		color      : $Primary;
	  }
	}

	.Circle
	{
	  @extend %Circle;
	  display          : inline-block;
	  width            : 150rem;
	  height           : 150rem;
	  padding          : 20rem 15rem;

	  font-size        : 35rem;
	  line-height      : 35rem;
	  color            : #fff;
	  background-color : $Primary;

	  small
	  {
		font-size   : 23rem;
		line-height : 10rem;
	  }
	}

  }
}

// ---------------------------------------------------------------------------------------------------------------------