// ---------------------------------------------------------------------------------------------------------------------
//	File:	Сео-подразделение
// ---------------------------------------------------------------------------------------------------------------------

.Seo-Team
{
	.Team-List
	{
		@extend %Column-Wide;

		font-size: 0;

		figure
		{
			display: inline-block;
			width: 20%;
			text-align: center;

			img
			{
				@extend %Circle;
				width: 118rem;
				height: 118rem;
				display: inline-block;
			}

			figcaption
			{
				.Name
				{
					font: 300 16rem/21rem Roboto, sans-serif;
				}

				.Position
				{
					font: 300 italic 14rem/21rem Roboto, sans-serif;
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------