.Leave-Request-Wide
{
    margin-top:       40rem;
    font-size:        0;
    background-color: $Secondary;

    & > *
    {
        display: inline-block;
        width:   50%;
    }
    .Steps
    {
        vertical-align: top;
        padding:        60rem;

        h3
        {
            @extend %Text-Bold-Red;
            text-align: center;
        }
    }

    $Slider-Arrow-Width: 22rem;
    $Slider-Arrow-Height: 42rem;
    $Slider-Arrow-Padding: 20rem;
    $Slider-Arrow-E-Height: $Slider-Arrow-Height + ($Slider-Arrow-Padding * 2);

    .Slider
    {
        @extend %Slider;

        .Slider-Arrow
        {
            margin-top: -($Slider-Arrow-E-Height/2);
            padding:    $Slider-Arrow-Padding;
            height:     $Slider-Arrow-E-Height;

            svg
            {
                width:        $Slider-Arrow-Width;
                height:       $Slider-Arrow-Height;

                stroke:       $Primary;
                stroke-width: 2;
            }

            &.Prev
            {
                display: none;
            }
        }

        .Slider-Content
        {
            text-align: center;
            color:      $Primary;
            height:     230rem;

            li
            {
                visibility: hidden;
                opacity:    0;
                position:   absolute;
                width:      100%;
                transition: 0.2s ease;
                transform:  scale(0.6);

                &.Active
                {
                    transition: 0.2s ease-in;
                    visibility: visible;
                    opacity:    1;
                    transform:  scale(1);
                }
            }

            .Page-Number
            {
                display:     inline-block;
                margin-top:  40rem;
                font-family: ' Roboto Slab ', sans-serif;
                font-size:   80rem;
                line-height: 80rem;
                opacity:     .6;
            }

            p
            {
                margin-top:  20rem;
                padding:     0 40rem;
                font-size:   20rem;
                font-weight: 300;
                line-height: 36rem;

                a
                {
                    @include Underline($Primary transparent $Primary, 1rem 22rem);
                    color: inherit;
                }
            }
        }
    }

    .Steps-Graph
    {
        display:       block;
        width:         100%;
        margin-top:    70rem;
        text-align:    center;
        counter-reset: list;

        li
        {
            display:        inline-block;
            vertical-align: middle;
            cursor:         pointer;

            &:after
            {
                content:           counter(list);
                counter-increment: list;
                position:          absolute;
                padding-top:       20rem;
                margin-left:       -2rem;
                font-size:         12rem;
                color:             rgba(#000,.2);
            }

            &.Illustration
            {
                width:      80rem;
                margin:     0 20rem !important;
                text-align: center;

                &.Active span
                {
                    color: $Primary;
                }

                span
                {
                    display:   inline-block;
                    font-size: 14rem;
                    color:     rgba(#000,.2);
                }

                svg
                {
                    display: block;
                    margin:  0 auto;
                    width:   46rem;
                    height:  35rem;
                }
                &:after
                {
                    visibility: hidden;
                }
            }

            &.Illustration:before,
            &.Illustration + li:before
            {
                display: none;
            }
        }

        li:not(.Illustration)
        {
            width:         20rem;
            height:        20rem;
            border-radius: 50%;
            border:        2rem solid rgba(#000,.2);

            &.Active
            {
                border-color:     $Primary;
                background-color: $Primary;
                &:after
                {
                    color: $Primary;
                }
            }

            & + li
            {
                position:    relative;
                margin-left: 35rem;

                &:before
                {
                    content:          '';
                    position:         absolute;
                    left:             -37rem;
                    top:              7rem;
                    width:            35rem;
                    height:           2rem;
                    background-color: rgba(#000,.2);
                }
            }
        }
    }

    .Leave-Request
    {
        transition:       0.3s ease;
        background-color: $Primary-L;

        &.Heightlighted
        {
            transition:       0.2s ease-in;
            background-color: $Primary;
        }
    }
}