// ---------------------------------------------------------------------------------------------------------------------
//	File:	Frequently asked questions
// ---------------------------------------------------------------------------------------------------------------------
.Faq
{
	@extend %Section-Block;
	text-align: center;

}

.Faq-Container
{
	display: inline-block;
	max-width: 800rem;
	text-align: left;
}

.Faq-Item
{
	line-height: 21rem;
	padding: 15px 0;
	border-bottom: 1px solid $Grey-L;

	.Question
	{
		font-size: 17rem;
		cursor: pointer;
	}

	// Иконка "Стрелка", переворачивается в активном состоянии
	.Arrow
	{
		float: right;
		margin-top: 5rem;
		width: 15rem;
		height: 9rem;
		fill: $Text-Primary;
		cursor: pointer;

		&:hover
		{
			fill: $Primary;
		}
	}

	.Answer
	{
		display: none;
		font-size: 16rem;
	}

	&.Active
	{

		.Question, .Answer
		{
			position: relative;
		}

		.Question
		{
			color: $Primary;
			padding-bottom: 15rem;

			&:before
			{
				content: 'B:';
				position: absolute;
				left: -25px;
			}
		}

		.Answer
		{
			display: block;

			&:before
			{
				content: 'O:';
				position: absolute;
				left: -25px;
			}
		}

		.Arrow
		{
			transform: rotate(180deg);
			fill: $Primary;
		}
	}
}