.Page-Footer
{
    text-align: center;

    @at-root .Footer-Tabs
    {
        position:  relative;

        font-size: 0;
        color:     $Primary;

        li
        {
            display: inline-block;
            width:   50%;
            min-height: 140rem;

            h6
            {
                font-variant: all-small-caps;
                font-size:    19rem;
            }

            p
            {
                margin-top: 15rem;
                font-size:  16rem;
                font-weight: 300;
            }

            svg
            {
                width: 48rem;
                height: 48rem;
                fill: $Primary;
            }

            &:first-child
            {
                padding-right: 60rem;
                text-align:    right;
            }

            &:last-child
            {
                padding-left: 60rem;
                text-align:   left;
            }
            &.Tab
            {
                vertical-align: top;
                opacity:        .6;

                p
                {
                    display: none;
                }
            }
            &.Tab.Active
            {
                opacity: 1;

                p
                {
                    display: inline-block;
                }
            }

            &.Switch
            {
                position:    absolute;
                width:       60rem;
                left:        50%;
                margin-left: -30rem;
                z-index:     5;

                label
                {
                    display:       inline-block;
                    width:         60rem;
                    height:        25rem;
                    border-radius: 14rem;
                    border:        2rem solid $Primary;
                    cursor:        pointer;
                }

                input
                {
                    position:   absolute;
                    visibility: hidden;
                    &:checked + label span
                    {
                        left:  auto;
                        right: 4rem;
                    }
                    & + label span
                    {
                        content:          '';
                        position:         absolute;
                        display:          inline-block;
                        top:              4rem;
                        left:             4rem;
                        width:            17rem;
                        height:           17rem;
                        border-radius:    50%;
                        background-color: $Primary;
                    }
                }

            }
        }
    }

    @at-root .Footer-Links
    {
        margin: 40rem 0 60rem 0;
        font-size: 14rem;

        a
        {
            display:         inline-block;

            text-decoration: none;
            color:           $Grey;

            &:hover
            {
                color: $Primary;
                text-decoration: underline;
            }
        }

        p
        {
            padding: 15rem 0;

            & + p
            {
                position: relative;
                display:  inline-block;
                width:    100%;

                &:after
                {
                    content:          '';
                    position:         absolute;
                    top:              0;
                    left:             50%;

                    width:            15rem;
                    height:           1rem;
                    margin-left:      -7rem;

                    background-color: $Grey;
                }
            }
        }
    }

    .Maps
    {
        .Map
        {
            display:       none;
            width:         100%;
            height:        370px;
            margin-bottom: 35px;

            &.Active
            {
                display: block;
            }
            iframe
            {
                width:  100%;
                height: 100%;
            }
        }
    }
}